<!--
/**
 * APITY: APITY Web Sevices.
 *
 * @copyright Copyright (c) 2026, Hoàng Hải <leduchoanghai@yahoo.com>
 * @license   MIT, http://www.opensource.org/licenses/mit-license.php
 */
-->

<!DOCTYPE HTML>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>
    <%= message %>
  </h1>
  <h2>
    <%= //error %>
  </h2>
  <pre><%= //Domain %></pre>
</body>

</html>